.bodystyle{
    padding: 0;
    margin: 0;
}
.container{
    max-width: 1200px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.randomBg{
    position: relative;
    width: 100%;
    height: 800px;
    background: #000;
}